### Mage Duel

In [1]:
import numpy as np
import pandas as pd

In [13]:
trials = 1000

mage1_die = [1,2,3,4]
mage1_rolls = np.random.choice(mage1_die, size=(trials,6))
mage1_rolls = pd.DataFrame(mage1_rolls)
mage1_rolls

mage1_power = mage1_rolls.sum(axis=1)
mage1_power

0      20
1      12
2      17
3      14
4      13
       ..
995    10
996    12
997    17
998    11
999    16
Length: 1000, dtype: int64

In [14]:
mage2_die = [1,2,3,4,5,6]

mage2_rolls = np.random.choice(mage1_die, size=(trials,4))
mage2_rolls = pd.DataFrame(mage2_rolls)
mage2_rolls

mage2_power = mage2_rolls.sum(axis=1)
mage2_power

0       9
1      11
2      11
3      10
4      11
       ..
995    14
996     7
997     9
998     8
999    10
Length: 1000, dtype: int64

In [24]:
mage_duel = pd.DataFrame(mage1_power,columns = ['mage_1'])
mage_2 = pd.DataFrame(mage2_power,columns = ['mage_2'])
mage_duel['mage_2'] = mage2_power
mage_duel

     mage_1  mage_2
0        20       9
1        12      11
2        17      11
3        14      10
4        13      11
..      ...     ...
995      10      14
996      12       7
997      17       9
998      11       8
999      16      10

[1000 rows x 2 columns]

In [26]:
mage_duel['winner'] = np.where(mage_duel['mage_1'] > mage_duel['mage_2'], 'mage 1', 'mage 2')
mage_duel

     mage_1  mage_2  winner
0        20       9  mage 1
1        12      11  mage 1
2        17      11  mage 1
3        14      10  mage 1
4        13      11  mage 1
..      ...     ...     ...
995      10      14  mage 2
996      12       7  mage 1
997      17       9  mage 1
998      11       8  mage 1
999      16      10  mage 1

[1000 rows x 3 columns]

In [27]:
mage_duel['winner'].value_counts()

mage 1    887
mage 2    113
Name: winner, dtype: int64